# Superset
SUPERSET_SECRET_KEY=dev
SUPERSET_ENV=dev

# PostgreSQL (Superset metadata DB)
POSTGRES_DB=superset_dev
POSTGRES_USER=superset
POSTGRES_PASSWORD=dev
POSTGRES_PORT=5532

# Redis
REDIS_PORT=6479

# Superset port
SUPERSET_PORT= 8088
