# Superset
SUPERSET_SECRET_KEY=preprod
SUPERSET_ENV=preprod

# PostgreSQL
POSTGRES_DB=superset_preprod
POSTGRES_USER=superset
POSTGRES_PASSWORD=preprod
POSTGRES_PORT=5533

# Redis
REDIS_PORT=6480

# Superset port
SUPERSET_PORT=8089
